b/* ======== Table of Contents ========
1. Global styles   
2. Layout
    2.1 Grid
    2.2 Flex
3. Typography
4. Utilities
5. Sections
6. Conponents
*/


/* ======== 1. Global Styles ======== */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /* ======== Fonts ======== */
    /* Font families */
    --ff-body: 'Roboto', sans-serif;
    /* Font sizes */
    --fs-h1: 2rem;
    --fs-body: 1.2rem;
    /* Font weights */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    /* ======== Colors ======== */
    --drk-blue: hsl(204, 54%, 31%);
    --teal: hsl(180, 52%, 91%);
    --lgt-blue: hsl(192, 89%, 60%);
    /* ========  */
}

.background--color{
    background-color: var(--drk-blue);
    max-width: 60rem;
    margin: 0 auto;
}

.page__container{
    margin: 0 auto;
    max-width: 45rem;
    font-family: var(--ff-body);
    font-size: fs;
    font-weight: var(--ff-body);
    color: var(--lgt-blue);
}

/* ======== 2. Layout ======== */
/* 2.1 Grid */
/* 2.2 Flex */
/* ======== 3. Typography ======== */

.header__title{
    font-size: var(--fs-h1);
    font-weight: var(--fw-500);
}

.form__subheading{
    font-weight: var(--fw-700);
}

/* ======== 4. Utilities ======== */

a{
    text-decoration: none;
}

/* ======== 5. Sections ======== */



/* ======== 6. Conponents ======== */


br{
    margin-bottom: 0.75rem;
}